ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: .5rem;
}

li {
    display: flex;
    padding: .2rem 1rem;
    gap: 1rem;
    align-items: center;
    background: lightblue;
    border-radius: 15px;
    width: 600px;
    justify-content: space-between;
}

li button {
    width: fit-content;
    height: fit-content;

}

input {
    border: none;
    background: lightcyan;
    padding: .5rem 1.5rem;
    border-radius: 15px;
}

.container button {
    margin-left: 1rem;
    background: lightcyan;
    padding: .5rem 1.5rem;
    border-radius: 15px;
}